@font-face {
  font-family: "Inter";
  src: url("../../../public/assets/font-family/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../../../public/assets/font-family/Lato/Lato-Light.ttf");
}

:root {
  --colorgreen: #006C35;
  --colorbggreen: #CCE1D7;
  --bgIncMapgrey: rgba(189, 189, 189, 0.7);
  --linegrey: #D9DBDA;
  --colorbackgroundfooterwhitetheme:#F5F5F5;
  --colorbackgroundhomegreen: #33453D;
  --colorbackgroundheadersecondblue: #cbd1ff;
  --colorsvgtextsblue: #0163d3;
  --colorbuttonsecondheader: #0144d3;
  --colorbackgrounddonateblue: #344c7c;
  --colorbgthemewhite: #E5F0EB;
  --colorbordergreen: #66A686;
  --colors-Brand-Green-Primary-3: #99C4AF;
  --colordark: #242424;
  --colorwhite: #ffffff;
  --colorborderimagewhite:#FFFFFFCC;
  --colordarkgrey: #2C2C2C;
  --text-color: #000D07;
  --text-color-darkgreen:#26312C;
  --fontlato: "Lato", sans-serif;
  --fontinter: "Inter", sans-serif;
  --transition-time: 0.6s;
}